@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --color-text: #000;
  --color-bg: #ffffff;
  --color-light: rgba(156, 163, 175, 0.1);
  --color-main: rgb(79 70 229);
  --color-main-light: rgb(99 102 241);
  --color-main-dark: rgb(55 48 163);
  --color-primary-variant2: #ff9000;
  --transition: all 400ms ease;
}

.button {
  border-radius: 20px;
  border: 1px solid var(--color-main);
  background-color: var(--color-main);
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.8rem 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: var(--transition);
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button:hover {
  background-color: var(--color-main-dark);
}
.button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}
.button.ghost:hover {
  background-color: var(--color-main-light);
}
